*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:75%;
    margin:0 auto;
    border:1px solid red;
}

@mixin flex($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

header{
    width:100%;
    height:70px;
    background-color: #000;
    position:fixed;
    top:0;
    @include flex(row,normal,center);
    .container{
        #logo{
            img{
                height: 50px;
            }
        }
    }
}

main{
    height:calc(100vh - 70px);
    width:100%;
    position:fixed;
    bottom:0;
    background-color: #191919;
    padding-top:100px;
    #dischi{
        @include flex(row,normal,center);
        // flex-wrap: wrap;
        .disco{
            @include flex(column,center,left);
            width:33%;
            height:200px;
            background-color: #000;
            color:#fff;
            border:1px solid red;
        }
    }
}
